html {
    min-height: 100%;
    height: auto;
    position: relative;
}
html body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #f4f4f4;
}
ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #222;
}

a:hover {
	text-decoration: underline;
}

.header {
	background: #01204f;
}
.header .nav {
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
}
.header .nav .item {
	float: left;
}
.header .nav .item a {
	display: block;
	line-height: 40px;
	padding: 0 5px;
	color: #fff;
}
.header .nav .item.current {
	background: red;
}

.list, .detail {
	width: 800px;
	padding: 20px 200px;
	margin: 20px auto;
	background: #fff;
	margin-bottom: 101px;
}
.list .item {
	margin-bottom: 20px;
}
.detail h1 {
	text-align: center;
}

.footer {
    width: 100%;
    min-width: 1000px;
    height: 80px;
    border-top: 1px solid #e0e0e0;
    background: #ebebeb;
    position: absolute;
    top: 100%;
    margin-top: -81px;
}

.footer footer {
	width: 1200px;
    height: auto;
    margin: 0 auto;
    color: #7b7b7b;
    line-height: 24px;
    text-align: center;
    padding: 15px 0 0;
}