<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录-聊天室</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
<body>
    <form action="/login" method="post" class="login-wrap" name="loginForm">
        {notempty name="msg"}<p class="error-wrap">{$msg}</p>{/notempty}       
        <p><label><span>账号:</span><input type="text" name="username" required="required" placeholder="请输入账号" /></label></p>
        <p><label><span>密码:</span><input type="password" name="password" required="required" placeholder="请输入密码" /></label></p>
        <p><label><input type="checkbox" name="remember" />5天内自动登录</label></p>
        <p class="btn-wrap">
            <input type="submit" value="登录" class="btn-login"/>
            <a href="/register" class="btn-register">注册</a>
        </p>
    </form>
</body>
</html>